

.header{
  text-align: center;
}

.attempts{
  text-align: left;
  margin:initial;
 
}

.attempts1{
  text-align: right;
  margin: initial;
}

.attempts2{
  text-align: right;
  margin: inherit;
}
.container{
  width:45% !important;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
}
.btndiv{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.btnn{
  width:150px;
  border-radius: 15px;
  height: 65px;
}

